.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #693e9f;
  border-radius: 0 0 0.5rem 0.5rem;
}

.header-navigation {
  display: flex;
  gap: 1rem;
  color: #000000; /* или любой другой цвет для ссылок */
  text-decoration: none;
  flex-direction: row;
}


a.router-link-active {
  color: #333; /* или любой другой цвет */
  font-weight: normal;
}

a {
  color: #000000; /* или любой другой цвет для неактивных ссылок */
  text-decoration: none;
  user-select: none;
  font-size: 16px;
}


.clickable-title {
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 1px;
  user-select: none;
  color: #ffffff;
}

